# Dependencies
node_modules/

# Environment files
.env
.env.*

# Allow sample environment file
!.env.example

# Logs
logs/
*.log

# Allure Reports
allure-results/
allure-report/

# Playwright Reports
playwright-report/
test-results/

# Cucumber Reports
reports/
cucumber-report/
cucumber-html-report/

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

these files/folders should be committed:

features/
utils/
testData/
package.json
package-lock.json
tsconfig.json
cucumber.js
Jenkinsfile
README.md
.gitignore


These should NOT be committed:

node_modules/
.env
logs/
allure-results/
allure-report/
playwright-report/
test-results/
